body {
    background-color: #333;
}

.user-card {
    width: 320px;
    padding: 1.2rem;
    border-radius: 8px;
    border: 1px solid #868585;
    background: #3f3f3f;
    margin: 1rem;
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    color: white;
    flex-direction: column;
    gap: .4rem;
  }
  
  .user-card h3 {
    margin: 0;
    font-size: 1.3rem;
    color: #f2f4f7;
  }

  .user-card h4 {
    font-size: 24px;
  }
  
  .user-card p {
    margin: 0;
    font-size: 0.95rem;
  }
  .users-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 6rem;
  }
    