
body {
  background: #242424;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;   
  justify-content: center; 
}

.input-wrapper {
  display: flex;
  gap: 12px; 
}

.input {
  width: 580px;
  padding: 19px;
  font-size: 16px;
  border-radius: 45px;
  border: 1px solid #333;
}

.btn {
  padding: 15px 19px;
  font-size: 20px;
  background: #242423;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 45px;
  width: 120px;
}
