
.container {
  min-height: 100vh;
  display: flex;
  align-items: center;   
  justify-content: center; 
}

.input-wrapper {
  display: flex;
  gap: 8px; 
}

.input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

.btn {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}
