* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.box {
    gap: 2rem;

}

.btn {
    background: #333;
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    border: 1px white;
}