.product-card {
  margin: 2rem;
  width: 240px;
  height: 320px;
  padding: 1.6rem;
  gap: 1rem;
  border-radius: 8px;
  border: 1px solid black;
  font-family: sans-serif;
  text-align: center;
}

.product-card p {
  margin: 1.5rem;
  font-size: 1.1rem;
  font-family: sans-serif;
  color: rgb(54, 111, 235);
  font-weight: 700;
}

.product-card h4 {
  font-size: 1.7rem;
}