body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #242424;
}

.card-container {
    display: flex;
    flex-direction: row; 
    gap: 3.5rem;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3rem;
  }  
      
  .hobby-card {
    width: 260px;
    height: 300px;
    padding: 2rem 1rem;
    margin: 4rem auto;
    border: 1px solid #555;
    border-radius: 10px;
    background: #2c2c2c;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .hobby-card h2 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: #f2f2f2;
  }
  
  .hobby-card p {
    margin: 0;
    color: #b3b1b1;
    font-size: 1.1rem;
  }
  
  .skills-card {
    width: 260px;
    height: 300px;
    padding: 2rem 1rem;
    margin: 4rem auto;
    border: 1px solid #555;
    border-radius: 10px;
    background: #2c2c2c;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .skills-card h2 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: #f2f2f2;
  }

  .skills-card p {
    margin: 0;
    color: #b3b1b1;
    font-size: 1.1rem;
  }