body {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 95vh;
    background-color: #242424;
}

.cars-card {
    text-align: center;
    background-color: #333;
    border: 1px white;
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 280px;
    height: 380px;
    border-radius: 8px;
}

.cars-card h2 {
    font-size: 1.5rem;
    font-family: sans-serif;
}

.cars-card p {
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aqua;
    margin-bottom: 1.9rem;
}